<!-- Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. -->
<!-- SPDX-License-Identifier: MIT-0 -->

@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello world.</h1>

<h2>Albums</h2>
<ul>
    @foreach (var album in this.ViewBag.Albums)
    {
        <li>@album</li>
    }
</ul>
